# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Environments
.venv/
venv/
env/

# Streamlit
.streamlit/secrets.toml

# Large local files
data/processed/claims_analytical_base.csv

# Temporary files
*.log
*.tmp
